@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* scroll-bar design DELETE */
html {
  scrollbar-3dlight-color: #efefef;
  scrollbar-arrow-color: #dfdfdf;
  scrollbar-base-color: #efefef;
  scrollbar-face-color: #dfdfdf;
  scrollbar-track-color: #efefef;
  scrollbar-darkshadow-color: #efefef;
  scrollbar-highlight-color: #efefef;
  scrollbar-shadow-color: #efefef;
  -ms-overflow-style: none;
  overflow: auto;
}
/* SCROLL */
::-webkit-scrollbar {
  width: .0rem;
  height: 0;
}
/* ------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
}
html {
  /* rem standard unit */
  font-size: 10px;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: #333;
}
img {
  vertical-align: middle;
  border: 0;
}
button {
  border: none;
  background: none;
}
ul,
li {
  list-style: none;
}
body {
  font-family: 'Roboto', "Noto Sans KR", sans-serif;
  /* font-family: "Noto Sans KR", sans-serif; */
  color: #222;
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: 0;
}
/* ------------------------------- */
.page-container{
  position: relative;
  display: block;
  width: 144.0rem;
  margin: 0 auto;
}
.wrap {
  position: relative;
  display: block;
}
/* ------------------------------------- */
/* header */
.header{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  background: rgba(255, 255, 255, 0.0);
  border-bottom: .05rem solid rgba(255, 255, 255, 0.3);
  /* min-width: 144.0rem; */

  z-index: 999999;
}
.header .page-container{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 8.0rem;
}
@keyframes slidedown{
  from{
    margin-top: -8.0rem;
  }
  to{
    margin-top: -.0rem;
  }
}
.header-focus{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8.0rem;

  background: rgba(255, 255, 255, 0.9);
  border-bottom: .1rem solid #e4e4e4;
  /* animation: .6s slidedown; */
  animation-name: slidedown;
  animation-duration: .6s;
}
.logo{
  display: block;
  width: 10rem;
  height: 8rem;
  margin-left: 1rem;
}
.header .logo{
  background: url('../images/logo.png') no-repeat center;
  background-size: 90%;
}
.header-focus .logo{
  background: url('../images/logo_dark.svg') no-repeat center;
  background-size: 90%;
}
header nav{
  position: relative;
  width: 51.0rem;
}
header nav ul li{
  display: inline-block;
  padding: 1.0rem 2.5rem;
  font-size: 1.4rem;
  letter-spacing: .1rem;
}
.header nav ul li a{
  font-weight: 300;
  color: white;
}
.header-focus nav ul li a{
  font-weight: 400;
  color: rgba(0, 0, 0, .9);
}
header nav ul li a:hover{
  text-decoration: underline;
}
.header .page-container .mi-apps,
.header .page-container .mi-c{
  position: absolute;
  top: 2.0rem;
  right: 2.5rem;

  display: none;

  width: 2.0rem;
  height: 2.0rem;
  padding: 0.5rem 0;
  font-size: 2.0rem;
  font-weight: 100;
  text-align: center;
  cursor: pointer;
  border: none;
}


/* main */

/* visual */
.visual{
  width: 100%;
  /* min-width: 144.0rem; */
  min-height: 100vh;
}
.visual .swp-visual{
  position: relative;
  width: 100%;
  height: 100vh;
}
.swp-visual .swiper-slide .visual-container{
  position: relative;
}
.swp-visual .swiper-slide .visual-container > img{
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.swp-visual .swiper-slide .visual-container > .page-container{
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  align-items: center;
  height: 100%;
  transform: translateX(-50%);
  z-index: 9;
}
@keyframes slideout {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.swp-visual .swiper-slide .visual-container > .page-container img,
.swp-visual .swiper-slide-next .visual-container > .page-container img{
  display: block;
  width: 37%;
  height: 37%;
  margin-left: 7.0rem;
  object-fit: contain;
  opacity: 0;
}
.swp-visual .swiper-slide-active .visual-container > .page-container img{
  position: absolute;
  left: -10.0rem;
  display: block;
  width: 37%;
  height: 37%;
  object-fit: contain;

  opacity: 1;
  transform: translateX(5rem);
  transition: all ease-out .5s;
  transition-delay: .5s;
}
/* swp-visual pagination */
.swp-visual > .page-container{
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: 9;
}
.swp-visual .swp-visual-pag{
  position: absolute;
  top: 43%;
  right: 0;
  display: flex;
  flex-direction: column;
}
.swp-visual .swp-visual-pag .swiper-pagination-bullet{
  position: relative;
  width: .8rem;
  height: .8rem;
  margin: .7rem 2.0rem;
  border: .1rem solid rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, .1);
  opacity: 1;
  overflow: hidden;
}
.swp-visual .swp-visual-pag .swiper-pagination-bullet::before,
.swp-visual .swp-visual-pag .swiper-pagination-bullet-active::before{
  content: '';
  position: absolute;
  bottom: -.1rem;
  left: 0;
  width: 110%;
  background: rgba(255, 255, 255, 1);
}
.swp-visual .swp-visual-pag .swiper-pagination-bullet::before,
.swp-visual .swp-visual-pag:active .swiper-pagination-bullet::before{
  height: 0%;
  transition: height .3s;
}
.swp-visual .swp-visual-pag .swiper-pagination-bullet-active::before{
  height: 120%;
  transition: height .3s ease-out;
}
.swp-visual .swp-visual-pag .swiper-pagination-bullet:hover{
  background: white;
}
.swp-visual .swp-visual-pag .swiper-pagination-bullet:hover::before{
  height: 120%;
}

/* story */
.story{
  position: relative;
}
.story-box-move{
  animation-name: move;
  animation-duration: 1.3s;
  animation-timing-function: cubic-bezier(.37, .13, .33, .94);
}
@keyframes move{
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0%);
  }
}
.story-box-right-to-mid{
  animation-name: move-r;
  animation-duration: 1.3s;
  animation-timing-function: cubic-bezier(.37, .13, .33, .94);
}
@keyframes move-r{
  from{
    opacity: 0;
    transform: translateX(120%);
  }
  to{
    opacity: 1;
    transform: translateX(0%);
  }
}
.story-box-left-to-mid{
  animation-name: move-l;
  animation-duration: 1.3s;
  animation-timing-function: cubic-bezier(.37, .13, .33, .94);
}
@keyframes move-l{
  from{
    opacity: 0;
    transform: translateX(-120%);
  }
  to{
    opacity: 1;
    transform: translateX(0%);
  }
}
.story-box-tit{
  position: absolute;
  top: -14.0rem;
  right: 0;
  height: 14.1rem;
  width: 50%;
  padding: 5.0rem 0 5.0rem 10.0rem;
  background: white;
  z-index: 9;
}
.story-box-tit strong{
  display: block;
  font-size: 1.4rem;
  font-weight: 800;
  height: 4.0rem;
  padding-top: 2.0rem;
}
.story .page-container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.story .page-container > div{
  width: 50%;
}
/* ---story__common--- */
.mi-add{
  display: inline-block;
  width: 3rem;
  height: 3rem;
  color: black;
  text-align: center;
  font-size: 1.8rem;
}
.button-more-s{
  font-family: "Noto Sans KR";
  display: block;
  width: 26.0rem;
  height: 5.0rem;
  padding: 1.2rem 3.0rem 1.5rem 3.0rem;
  border-radius: 3.0rem;
  border: .1rem solid rgba(0, 0, 0, .9);
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: .1rem;
}
.button-more-s:hover {
  text-decoration: underline ;
}
/* ---story__commonicon--- */
.story .page-container > .story-box-top{
  height: 58.0rem;
  padding-top: 12.0rem;
  padding-left: 10.0rem;
}
.story .page-container > .story-box-top h3{
  font-size: 3.0rem;
  font-weight: 300;
  line-height: 1.6;
  text-align: left;
  padding-bottom: 14.5rem;
  white-space: nowrap;
}

.story .page-container > .story-box-c{
  position: relative;
  padding: 9.5rem 0 5.5rem 0;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.story .page-container .story-box-c > *{
  display: block;
}
.story .page-container .story-box-c > .place{
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  letter-spacing: .3em;
  font-size: 1.6rem;
  color: white;
}
.story .page-container .story-box-1 > .place{
  color: #333;
}
.story .page-container .story-box-c > .click-area{
  height: 85%;
  margin: 2.0rem 0;
}

.story .page-container .story-box-c > .brand > img {
  height: 3.0rem;
  opacity: .7;
}
.story .page-container .story-box-1 > .brand > img {
  mix-blend-mode: difference;
}

.story .page-container > .story-box-c:nth-child(2n-1) {
  margin-top: -14.0rem;
}
.story .page-container > .story-box-c:last-child {
  margin-top: -15.0rem;
}
.story-box-1, 
.story-box-4, 
.story-box-5, 
.story-box-6{
  height: 72.0rem;
}
.story-box-2,
.story-box-3{
  height: 94.0rem;
}
.story-box-1{
  background: url('../images/story_1.jpg');
}
.story-box-2{
  background: url('../images/story_2.jpg');
}
.story-box-3{
  background: url('../images/story_3.jpg');
}
.story-box-4{
  background: url('../images/story_4.jpg');
}
.story-box-5{
  background: url('../images/story_5.jpg');
}
.story-box-6{
  background: url('../images/story_6.jpg');
}

.story-box-bottom{
  height: 73.0rem;
  padding-top: 19.0rem;
}
.story-box-bottom p{
  display: block;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 4.5rem;
}
.story-box-bottom .button-more-s{
  margin: 0 auto;
}
.story-button-more{
  margin-top: -15.0rem;
  width: 50%;
  height: 15.0rem;
  padding: 5.0rem 0;
  background: #d0d2d5;
}
.story-button-more .button-more-s{
  margin: 0 auto;
}


/* gallery */
.gallery{
  position: relative;
  min-width: 100vw;
}
.gallery .gallery-visual{
  position: relative;
  height: 143.5rem;
  padding: 22.0rem 0 0 0;
  background: url('../images/gallery_bg.jpg') no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}
.gallery .gallery-visual .g-text-box{
  position: relative;
  color: white;
}
.gallery .gallery-visual .g-text-box em{
  display: block;
  margin-bottom: 5.5rem;
  font-size: 1.8rem;
  font-weight: 400; 
  font-style: normal;
  letter-spacing: 0.2em;
}
.gallery .gallery-visual .g-text-box h2{
  font-size: 4.8rem;
  font-weight: 200;
  letter-spacing: 0.05em;
}
.gallery-inf{
  position: relative;
  width: 100vw;
  background: #232C41;
}
.gallery-inf ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 12.0rem 0;
}
.gallery-inf ul > li{
  font-family: "Noto Sans KR", sans-serif;;
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  padding: 2rem 0;
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.6;
  font-style: normal;
  text-align: center;
}
/* //main */


/* nexus brands */
.brands{
  background: #141A29;
}
.brands .page-container{
  position: relative;
  padding: 16.5rem 0;
  overflow: hidden;
}
.brands .page-container > em{
  display: block;
  text-align: center;
  font-style: normal;
  font-size: 4rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.7);
  padding-bottom: 10.0rem;
}
.brand-lst{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
}
.brand-lst li a{
  display: block;
  width: 36.0rem;
  height: 17.5rem;
  border: .1rem solid rgba(255, 255, 255, 0.4);
  background-position: center;
  background-repeat: no-repeat;
  opacity: .3;
}
.brand-lst li a:hover{
  opacity: 1;
  transition: all ease-in .2s;
}
.b-1{
  background: url('../images/b-1.svg');
}
.b-2{
  background: url('../images/b-2.svg');
}
.b-3{
  background: url('../images/b-3.svg');
}
.b-4{
  background: url('../images/b-4.svg');
}
.b-5{
  background: url('../images/b-5.svg');
}
.b-6{
  background: url('../images/b-6.svg');
}
.b-7{
  background: url('../images/b-7.svg');
}
.b-8{
  background: url('../images/b-8.svg');
}
.b-9{
  background: url('../images/b-9.svg');
}
.b-10{
  background: url('../images/b-10.svg');
}
.b-11{
  background: url('../images/b-11.svg');
}
.b-12{
  background: url('../images/b-12.svg');
}
.b-13{
  background: url('../images/b-13.svg');
}
.b-14{
  background: url('../images/b-14.svg');
}
.b-15{
  background: url('../images/b-15.svg');
}
.b-16{
  background: url('../images/b-16.svg');
}

/* footer */
.footer{
  background: #232C41;
}
.footer--top{
  position: relative;
  border-bottom: .1rem solid rgba(255, 255, 255, 0.2);
}
.footer--top .page-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  height: 24.0rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.footer--top .page-container > *{
  display: block;
  color: white;
}
.f-logo{
  flex: 2;
  width: 100%;
  height: 5rem;
  align-self: flex-start;
  background: url('../images/logo.png') no-repeat left;
  background-size: 15%;
}
.footer--top .page-container > dl{
  flex: 1 5.0rem;
}
.footer--top .page-container dl *{
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.6;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.8);
}
/* bottom__footer */
.footer--bottom .page-container{
  height: 100px;
  display: flex;
  align-items: center;
}
.footer--bottom .page-container li:first-child{
  flex: 2;
  color: rgba(255, 255, 255, 0.8);
}
.footer--bottom .page-container li{
  display: block;
  flex: 1 5.0rem;
}
.footer--bottom .page-container li a{
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.6;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.8);
}

/* responsive */

@media screen and (max-width: 1440px) {
  /* responsive-main-visual */
  .visual .swp-visual{
    width: 100vw;
  }
  .page-container{
    width: 100%;
  }
  .visual .swp-visual .page-container{
    width: 100%;
  }
  .visual .swp-visual .visual-container .page-container{
    left: 0;
    transform: none;
  }

  /* responsive-main-storys-1*/
  .story-box-1, 
  .story-box-4, 
  .story-box-5, 
  .story-box-6{
    height: 50vw;
  }
  .story-box-2,
  .story-box-3{
    height: 66.2vw;
  }
  .story .page-container > .story-box-top,
  .story-box-bottom{
    height: 50vw;
    padding-top: 10%;
    padding-left: 5%;
    transition: all .2s;
  }
  .story .page-container > .story-box-top h3{
    padding-bottom: 2rem;
  }
  
  /* responsive-main-gallery-1 */
  .gallery .gallery-visual{
    background-attachment: scroll;
    height: 90vw;
  }
  .gallery-visual .page-container{
    padding-left: 2rem;
  }
  .gallery-inf ul{
    flex-direction: column;
    padding: 10.0rem 0;
  }

  /* responsive-brands-1 */
  .brands .page-container{
    width: 80%;
  }
  .brand-lst li a{
    width: 20vw;
  }

  /* responsive-footer-1 */
  .footer .page-container{
    padding-left: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  /* responsive - header */
  html{
    font-size: 8px;
  }
  .header .page-container{
    width: 100vw;
    height: 7rem;
  }
  .header-focus{
    height: 7rem;
  }
  .header .page-container .material-icons{
    display: block;
  }
  .header .page-container .mi-apps{
    color: white;
  }
  .header-focus .page-container .mi-apps{
    color: black;
  }
  .header nav ul{
    position: fixed;
    top: 0;
    right: -250px;
    /* display: none; */
    width: 250px;
    height: 100%;
    color: grey;
    background: white;
    box-shadow: -3px 0px 9px 1px rgba(0, 0, 0, .1);
    padding-top: 80px;
    transition: right .3s;
  }
  .header nav ul li{
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 2.5rem 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
  }
  .header nav ul li:last-child{
    border-bottom: none;
  }
  .header nav ul li:hover{
    background: rgba(0, 0, 0, .04);
  }
  .header nav ul li a{
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
  }
  /* responsive-main-storys-1*/
  .story .page-container > div{
    width: 100%;
  }
  .story-box-tit{
    top: -8rem;
    padding: 2.0rem 5rem;
    height: 8rem;
    letter-spacing: 1px;
  }
  .story .page-container .story-box-top,
  .story-box-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
    height: 38rem;
    padding: 8rem 0 0 0;
    overflow: hidden;
    
  }
  .story .page-container .story-box-top h3,
  .story-box-bottom p{
    padding-bottom: 5rem;
    width: 70vw;
    line-height: 1.3;
  }
  .button-more-s{
    width: 70vw;
    transition: width .3s;
  }
  .story .page-container > .story-box-c:nth-child(n) {
    margin-top: 0;
  }
  .story-box-1, 
  .story-box-4, 
  .story-box-5, 
  .story-box-6{
    height: 100vw;
  }
  .story-box-2,
  .story-box-3{
    height: 120vw;
  }
  .story-box-bottom{
    order: 4;
    padding-top: 6rem;
    height: 35rem;
  }
  .story-box-6{
    order: 5;
  }
  .story-button-more{
    margin-top: 0;
    order: 6;
  }
  .story-button-more .button-more-s{
    font-size: 1.8rem;
    padding: 2.0rem 0;
    height: 6rem;
  }
  /* responsive-main-gallery-2 */
  .gallery .gallery-visual .g-text-box em,h2{
    text-align: center;
  }
  
  /* responsive-brands-2 */
  .brand-lst li a{
    width: 40vw;
    height: 15vw;
    background-size: 110%;
  }
}


@media screen and (max-width:750px) {
  /* responsive-main-gallery-3 */
  .gallery .gallery-visual{
    padding: 12rem 0;
  }
  .gallery .gallery-visual .g-text-box em{
    margin-bottom: 3rem;
  }
  .gallery .gallery-visual .g-text-box h2{
    font-size: 4rem;
    white-space: nowrap;
  }
  
  /* responsive-brands-3 */
  .brand-lst li a{
    height: 20vw;
  }

  /* responsive-footer-2 */
  .footer--top .page-container {
    flex-direction: column;
    height: 350px;
    padding: 5rem 2rem;
    font-size: 1.6rem;
  }
  .f-logo{
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
  .footer--top .page-container > dl{
    padding-bottom: 2rem;
  }
  .footer--bottom .page-container li{
    overflow: hidden;
  }
  #pri-state{
    display: none;
    flex: 0;
  }
}

@media screen and (max-width: 450px) {
  /* responsive-main__story-3 */
  .story .page-container .story-box-top h3{
    font-size: 2.6rem;
    width: 90vw;
  }
  .button-more-s{
    width: 80vw;
  }
  /* responsive-main-gallery-4 */
  .gallery .gallery-visual{
    padding: 5rem 0;
  }
  .gallery .gallery-visual .g-text-box em{
    font-size: 1.4rem;
    margin-bottom: 1.8rem;
  }
  .gallery .gallery-visual .g-text-box h2{
    font-size: 2.4rem;
  }
  .gallery-inf ul{
    padding: 5rem 0;
  }

}